.dir.r30wkrm[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;padding-left:24px;padding-right:24px;}

.dir.c1wuhvg5[class][class]{padding-top:16px;padding-bottom:16px;}

.dir.u19dtjfg[class][class]{padding-top:8px;padding-bottom:8px;}

.dir.u17sgxsw[class][class]{padding-top:0;padding-bottom:0;}

.dir.dizf7bv[class][class]{cursor:not-allowed;}
.dir.lh7y5ta[class][class]{cursor:pointer;}
